
-- READ schedules
DROP POLICY IF EXISTS \
org_read_schedules\ ON public.schedules;
CREATE POLICY \org_read_schedules\ ON public.schedules FOR SELECT TO authenticated USING (
    get_my_role() IN ('sysadmin', 'admin', 'director', 'academic') 
    AND EXISTS (
        SELECT 1 FROM public.groups g
        WHERE g.id = schedules.group_id
          AND g.organization_id = public.get_my_organization_id()
    )
);

-- INSERT schedules
DROP POLICY IF EXISTS \admin_insert_schedules\ ON public.schedules;
CREATE POLICY \admin_insert_schedules\ ON public.schedules FOR INSERT TO authenticated WITH CHECK (
    get_my_role() IN ('sysadmin', 'admin', 'academic') 
    AND EXISTS (
        SELECT 1 FROM public.groups g
        WHERE g.id = schedules.group_id
          AND g.organization_id = public.get_my_organization_id()
    )
);

-- UPDATE schedules
DROP POLICY IF EXISTS \admin_update_schedules\ ON public.schedules;
CREATE POLICY \admin_update_schedules\ ON public.schedules FOR UPDATE TO authenticated USING (
    get_my_role() IN ('sysadmin', 'admin', 'academic') 
    AND EXISTS (
        SELECT 1 FROM public.groups g
        WHERE g.id = schedules.group_id
          AND g.organization_id = public.get_my_organization_id()
    )
) WITH CHECK (
    get_my_role() IN ('sysadmin', 'admin', 'academic') 
    AND EXISTS (
        SELECT 1 FROM public.groups g
        WHERE g.id = schedules.group_id
          AND g.organization_id = public.get_my_organization_id()
    )
);

-- DELETE schedules
DROP POLICY IF EXISTS \admin_delete_schedules\ ON public.schedules;
CREATE POLICY \admin_delete_schedules\ ON public.schedules FOR DELETE TO authenticated USING (
    get_my_role() IN ('sysadmin', 'admin', 'academic') 
    AND EXISTS (
        SELECT 1 FROM public.groups g
        WHERE g.id = schedules.group_id
          AND g.organization_id = public.get_my_organization_id()
    )
);

